@font-face {
  font-family: Lemon;
  src: url(Fonts/LEMONMILK-Medium.otf);
}

@font-face {
  font-family: Lemon2;
  src: url(Fonts/LEMONMILK-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lemon;
  scroll-behavior: smooth;
}

/* Global style for every section */

section {
  width: 100%;
  color: white;
  font-family: Lemon;
  display: flex;
  background: #333333;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section .container {
  text-align: center;
}

section .container p {
  bottom: 0;
  font-family: Lemon;
  text-align: left;
}

section .container h1 {
  font-size: 25px;
  font-family: Lemon;
}

section .container h2 {
}

/* Global style for every navigation */

nav {
  z-index: 10;
  width: 100%;
  padding: 14px;
  position: absolute;
  text-align: center;
  background: #424242;
  font-family: Lemon;
}

nav a {
  text-decoration: none;
  display: inline-block;
  font-family: Lemon;
  color: #fff;
  margin-right: 14px;
}

nav a:hover {
  color: lightgray;
}

/* Main */

.main {
  height: 100vh;
}

/* Work */

.work {
  height: 100vh;
}

/* Contact */

.contact {
  height: 20vh;
}

/* About */

.about {
  height: 25vh;
}

.modules {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: #424242;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
}

.modules h3 {
  margin: 0;
  padding-bottom: 10px;
}

.modules p {
  margin: 0;
  font-family: Lemon2;
  font-size: 13px;
}
