@font-face {
    font-family: Lemon;
    src: url(Fonts/LEMONMILK-Medium.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lemon;
    scroll-behavior: smooth;
}


/* Global style for every section */

section {
    width: 100%;
    color: white;
    font-family: Lemon;
    display: flex;
    background: #333333;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div {
    width: 100%;
    text-align: center;
}

section div p {
    margin: auto;
    bottom: 0;
    font-family: Lemon;
    display: block;
}

section div h1 {
    margin: auto;
    font-size: 25px;
    font-family: Lemon;
}

section div h2 {
    margin: auto;
    display: block;
}


/* Global style for every navigation */

nav {
    z-index: 10;
    width: 100%;
    padding: 14px;
    position: absolute;
    text-align: center;
    background: #424242;
    font-family: Lemon;
}

nav a {
    text-decoration: none;
    display: inline-block;
    font-family: Lemon;
    color: #fff;
    margin-right: 14px;
}

nav a:hover {
    color: lightgray;
}


/* Main */

.main {
    height: 100vh;
}


/* Work */

.work {
    height: 20vh;
}


/* Contact */

.contact {
    height: 20vh;
}


/* About */

.about {
    height: 20vh;
}